@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.LandingPage > header {
    padding: 10% 0;
    border: solid 1px rgba(187, 138, 31, 0.309);
    margin: 7% 20% 0 20%;
    text-align: left;
    font-family: 'Kalam', cursive;
    color: rgb(116, 158, 197);
    background-color: rgba(22, 22, 22, 0.063);
    padding: 0px 55px;
}

.LandingPage > header > h1 {
    font-family: 'Marcellus SC', serif;
    text-align: center;
}
  
.LandingPage > section {
    padding: 1% 0;
    /*background-color: rgba(255, 255, 255, 0.193);
    border: solid gray 1px;*/
    margin: 2% 10%;
    text-align: center;
}

button {
    background-color: #b44a4a00;
    color: rgb(116, 158, 197);
    padding: 1% 2%;
    text-align: center;
    text-decoration: underline;
    border: none;
    cursor:pointer
}
  
button:hover, button:active {
    background-color: rgba(116, 158, 197, 0.611);
    color: white;
    font-weight: bold;
}