.Blog_section > header {
    padding: 2% 0;
  }

h2 {
  font-size: 35px;
}

p, blockquote {
  font-size: 17px;
}



.BlogPage > section:nth-child(even) {
background-color: #eee;
}

.BlogPage > p {
margin: 0 auto;
max-width: 650px;
}

.BlogPage > p + p {
margin-top: 15px;
}