.Resource {
    font-family: 'Marvel', sans-serif;
    padding: 2%;
    border: solid 1px rgba(187, 137, 31, 0.219);
    background-color: rgba(22, 22, 22, 0.063);
    color: rgb(67, 110, 150);
    
    margin: 1% 20%;
    text-align: center
}