h2 {
    text-align: center;
}

form {
    margin: 40px auto;
    padding: 40px 0;
    max-width: 650px;
    text-align: center;
    border: gray 1px solid;
}

label {
    display: block;
    padding-top: 13px;
}

input[type="text"] {
    width: 100%;
    color: rgba(0, 0, 0, 0.363);
    padding: 3px;
    text-align: center;
}

input[type="button"] {
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: #b44a4a00;
    color: rgb(116, 158, 197);
    padding: 1% 2%;
    text-align: center;
    text-decoration: underline; 
    border: none;
}
input[type="submit"]:hover, input[type="submit"]:active {
    background-color: rgba(116, 158, 197, 0.611);
    color: white;
    font-weight: bold;
}

form div {
    width: 50%;
    margin: 0 auto;
}